.netzero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-font);
    padding: 5rem;
    padding-bottom: 30rem;
}

.netzero h2,
.netzero p {
    color: white;
}

.netzero_image img {
    margin: 4rem;
    padding: 1rem;
    background-color: white;
}