.brookfield_management {
    margin: 4rem;
    margin-bottom: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.management_image img {
    margin: 3rem;
    padding: 1rem;
    border: 3px solid rgb(165, 165, 165);
}

.management_reach {
    display: flex;
    /* justify-content: center; */
}

.management_assests {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    border: 3px solid rgb(165, 165, 165);
    width: 100%;
}

.management_assests h1 {
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}